/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Header section style */
header {
  background: rgba(255, 144, 14, 0.1);
}
.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 228px;
  margin-right: 240px;
}
.nav-item {
  display: flex;
  gap: 20px;
}
.nav-item a {
  text-decoration: none;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.item-name {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
/* banner style */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-info {
  margin: 100px 300px 33px 300px;
}
.banner-title {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
}
.banner-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.banner-button {
  margin-bottom: 50px;
  width: 180px;
  height: 64px;
  background: rgba(209, 128, 35, 0.1);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
}
.banner-image {
  margin: 0px 240px 45px 240px;
}
.banner-image img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

/*--------- header complete 
-----------*/

/*---------------- main ssection -------------*/

/* qucik list style */
.quick-list-container {
  display: flex;
  gap: 73px;
  align-items: center;
  margin: 85px 200px 130px 200px;
}
.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}
.quick-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 32px;
}
.quick-list-description button {
  padding: 21px 24px 20px 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #ff900e;
  background: #ff900e;
  border-radius: 8px;
}

/* feature love and enjoy */
.love-feature-container {
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
}
.feature-overview {
  display: flex;
  gap: 50px;
}
.feature-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 30px;
}
.feature-love-enjoy .title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  padding-left: 5px;
  border-left: 5px solid #ff900e;
}
.feature-love-enjoy .description,
.feature-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.image-part button {
  font-weight: 700;
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  padding: 45px;
  line-height: 30px;
  background: #ff900e;
  border-radius: 8px;
}
.experience-button {
  position: relative;
  top: -10%;
  left: -3%;
}

/* some facts */
.some-facts {
  margin-left: 150px;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.fact-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-right: 600px;
  margin-bottom: 100px;
}

/* commpany achivmnts */

.achivments-list-container {
  display: flex;
  gap: 80px;
  margin-left: 200px;
  margin-right: 200px;
}
.achivments-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  grid-row-gap: 6px;
  justify-content: center;
  border: 1px solid #ff900e;
  padding: 30px;
}
.achivments-item-container p {
  margin: 0px;
}



.number {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
.acivment-name {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 23px; */
  color: #727272;
}

/* our sponser */
.our-sponsors {
  text-align: center;
  margin: 180px 400px 50px 400px;
}
.sponser-title {
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 45px;
  color: #131313;
}
.sponser-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
/* sponser logos */

.sponser-logo-container {
  display: flex;
  margin: 0px 150px 130px 150px;
  gap: 70px;
}
.sponser-logo-container img {
  height: 50px;
  /* mix-blend-mode: luminosity; */
}

/* footer */
footer p {
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #424242;
}
footer {
  padding: 30px 250px 30px 250px;
  background: #fff4e7;
  border-radius: 8px;
  margin: 0px 120px 216px 120px;
}

/*-------------- making responsive --------------*/

@media screen and (max-width: 576px) {
  /* header section */
  .nav-bar-container {
    margin: 0;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    /* justify-content: space-between; */
  }
  .nav-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
  }
  .banner-image {
    margin: 0px;
    padding: 0px 10px 0px 10px;
  }
  .banner-image img {
    height: 100%;
    width: 100%;

    margin-bottom: 20px;
  }

  /* qucik list for feature */
  .quick-list-container {
    display: flex;
    flex-direction: column;
    gap: 73px;
    padding: 10px;
    margin: 50px 10px 0px 10px;
    align-items: center;
  }
  .photo-container {
    display: flex;
    flex-direction: column;
  }

  /* feature you love and enjoy */
  .love-feature-container {
    margin: 50px 0px 50px 0px;
    padding: 10px;
    align-items: center;
  }
  .feature-overview {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .love-image img {
    height: 100%;
    width: 100%;
  }
  .image-part button {
    font-weight: 700;

    text-align: center;
    padding: 15px;
    line-height: 30px;
    background: #ff900e;
    border-radius: 8px;
  }

  .image-part button {
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  line-height: 20px;
  background: #ff900e;
  border-radius: 8px;
}
  /* some facts */
  .some-facts {
    margin-left: 0px;
    padding: 10px;
  }

  .fact-description {
    font-weight: 400;
    font-size: 20px;
    color: #727272;
    margin: 0px;
    margin-bottom: 50px;
  }
  /* achivment list */
  .achivments-list-container {
    margin: 5px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  /* our sponser */
  .our-sponsors {
    text-align: center;
    margin: 100px 30px 50px 30px;
    padding: 5px;
  }
  /* sponser logos */

  .sponser-logo-container {
    margin: 30px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  footer {
    padding: 30px 20px 30px 20px;
    background: #fff4e7;
    border-radius: 8px;
    margin: 0px 10px 30px 10px;
  }
}
